server:
  port: 8080

spring:
  application:
    name: starter-service-template

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: never
